body {
    background-color: aquamarine;
}
h1{
    font-size: 20pt;
}
h2{
    font-size: 14pt;
}
.block-menu {
    padding: 5px;
    background-color: aquamarine;
    border-bottom-right-radius: 20px;
}
#menu, #view {
    position: absolute;
    top: 0px;
    height: 100%;
}
#view {
    left: 0px;
    width: 60.5%;
    background-color: white;
}
#menu {
    left: 61%;
    width: 39%;
    background-color: rgb(37, 70, 121);
}
#viewport {
    width: 100%;
    height: 100%;
}
#load-massage {
    display: none;
    background-color: aliceblue;
    border: dotted red 3px;
    position: absolute;
    left: 50%; 
    top: 50%;
    margin-left:-150px;
    margin-top: -75px;
    width: 300px;
    height: 150px;
}

.parametr {
    margin-bottom: 10px;
}